<form action="<%= madlib.id ? `/admin/madlibs/${madlib.id}/update` : '/admin/madlibs' %>" method="post">
  <div>To indicate a field use the following syntax: [word type]</div>
  <div>
    <label>
      <p>Title:</p>
      <input id="title" name="title" value="<%= madlib.title %>"/>
    </label>
  </div>
  <div>
    <label>
      <p>Category:</p>
      <select name="category">
        <% categories.forEach(function(category){ %>
          <option value="<%= category.id %>" <%= madlib.category == category.id ? "selected" : "" %>><%= category.name %></option>
        <% }); %>
      </select>
    </label>
  </div>
  <div>
    <label>
      <p>Madlib:</p>
      <textarea id="madlib" name="madlib"><%= madlib.madlib %></textarea>
    </label>
  </div>
  <button>Submit</button>
</form>
