<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.slim.js"></script>
<script src="/javascripts/host.js"></script>
<link rel="stylesheet" href="/stylesheets/style.css">

<div class="">
  <div class="play-container">
    <h4 class="ohshit">oh shit it's back...</h4>
    <img src="/images/fanimadlibs.png" />
    <h4 class="rotating ohshitright">v.2.0!!!</h4>
    <% categories.forEach((category) => { %>
      <button class="btn btn-genre btn-genre-<%= category.id %>" onclick="play(<%= category.id %>)">
        <span><%= category.name %></span>
      </button>
    <% }); %>
    <button class="btn btn-genre btn-small" onclick="reset()">reset!</button>
  </div>
  <div class="madlib-container hidden">
    <h1 class="madlib-title"></h1>
    <div class="madlib-content"></div>
    <button class="btn btn-genre madlib-done" onclick="done()">done!</button>
    <button class="btn btn-genre madlib-back" onclick="back()">back</button>
  </div>
</div>

<script>
window.madlibs = <%- JSON.stringify(madlibs) %>;
window.categories = <%- JSON.stringify(categories) %>;
update();
</script>
